<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>ThesisWeb</title>
  <link rel="stylesheet" href="bootstrap-3.3.2\css\bootstrap.min.css">
</head>
<body>
    <div class="container">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#" style="padding:3px 7px;">
              <img alt="Brand" src="navbar-logo.png">
            </a>
          </div>
        </div>
      </nav>
      <%= yield %>
    </div>
</body>
</html>
