<%= form_tag replay_statement_result_path(@statement, @result), class:'form-horizontal' do %>
	<div class="input-group col-sm-12">
	  <span class="input-group-addon">Upload as</span>
	  <input name="as" type="text" class="form-control input-sm" placeholder="Root Element" value="RE">
	  <span class="input-group-btn">
	    <button class="btn btn-sm btn-default" type="submit">
	        <span class="glyphicon glyphicon-send"></span>
	    </button>
	  </span>
	</div>
<% end %>
